body{ /* aplica para toda la pagina  */
    background:#282a36; /* es para el fondo  */
    overflow: hidden; /* oculta el desbordamiento  */
    animation: skyBg 10s infinite linear; /* es la animacion  */
   }
.sun{   /* para la figura del sol  */
    position: absolute; /* Es la que define la posicion del sol  */
    top: 50%; /* es la posicion de arriba hacia abajo*/
    left: 50%;/* es la posicion de izquierda a derecha */
    transform: translate(-50%, -50%); /* transformar */
    border-radius: 50%; /* el que alinea el borde del radio */
    height: 200px; /* define la altura en pixeles es este caso  */
    width: 200px;/* define el ancho en pixeles en este caso*/
    background: orange;/* color de fondo */
    box-shadow: 0 0 10px orange, 0 0 60px orange, 0 0 200px yellow, inset 0 0 80px yellow;/* es la sombra o destello del sol  */
}

.moon{/*  Es la que define la posicion de la lun  */
    position: absolute;/* posicion de la luna */
    top: 1px; /* es la posicion de arriba hacia abajo 1px*/
    left: 10px;/* es la posicion de izquierda a derecha 10px */
    border-radius: 50%; /* el que alinea el borde del radio */
    height: 200px;/* define la altura en pixeles es este caso    */
    width: 200px;/* define la altura en pixeles es este caso   */
    background: #0e0f10;/* color de fondo  */
    box-shadow: inset 0 0 50px rgba(150, 150, 150, 0);/* sombra de la luna  */
    animation: eclipse 10s infinite linear;/*  tiempo de la animacion  */
    transform-origin: 50% 150%; /*Leer de derecha a izquierda*/
}

@keyframes skyBg{/* para el cielo  */
    0%{
        background: #80bde3;/* color del cielo durante el inicio de la animacion */
    }
    60%{
        background: black;/* color del cielo durante el 60% de la animacion */
    }
    100%{
        background: #80bde3; /* color del cielo durante 100% de la animacion */
    }
}

@keyframes eclipse{/* durante el eclipse  */
    0%{
        transform: rotate(-60deg);/* rotaciuon de la luna en entrada de la animacion */
    }
    90%{
        transform: rotate(30deg);/* rotacion de la luna en el centro de la animacion */
    }
}